TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_ID=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-3.6-flash
SUPABASE_URL=
SUPABASE_KEY=
CALDAV_URL=https://caldav.icloud.com/
CALDAV_USERNAME=
APP_SPECIFIC_PASSWORD=
CALDAV_CALENDAR_URL=
